@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #DFD3C3;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto; }

::selection {
  background-color: #FBD46D; }

header {
  position: fixed;
  width: 100%;
  height: 15vh;
  background-color: #A78295;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4); }
  header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 14vh; }
    header .navbar .logo {
      color: #eeeeee;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 5px; }
    header .navbar .nav-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 45%;
      list-style-type: none; }
      header .navbar .nav-links li {
        margin: 0 1.2rem; }
        header .navbar .nav-links li a {
          font-size: 0.9rem;
          color: #eeeeee;
          text-decoration: none;
          text-transform: uppercase; }
  header .menu-icon {
    display: none;
    cursor: pointer;
    flex-grow: 1;
    margin-left: 25px; }
    header .menu-icon span {
      display: block;
      border-radius: 15px;
      width: 25px;
      height: 5px;
      background-color: #eeeeee;
      margin: 5px;
      transition: all 0.4s ease; }

.home-hsection iframe {
  width: 100%;
  height: 700px;
  border: none;
  margin: 80px 0px; }

.colecciones img {
  width: 45vw; }

.colecciones .coleccion-mujer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3c3c3c25;
  padding: 80px; }
  .colecciones .coleccion-mujer img {
    margin-right: 60px; }

.colecciones .coleccion-hombre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px; }
  .colecciones .coleccion-hombre img {
    margin-left: 60px; }

.colecciones .accesorios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3c3c3c25;
  padding: 80px; }
  .colecciones .accesorios img {
    margin-right: 60px; }

.colecciones a {
  text-decoration: none;
  text-align: center;
  font-size: 7em;
  margin: 40px;
  color: #242424;
  transition: transform 0.3s ease; }
  .colecciones a:hover {
    transform: scale(1.15); }

.swal-overlay {
  background-color: lightyellow; }

.swal-modal {
  border: 3px solid whitesmoke; }

.container-mujer {
  display: flex;
  align-items: center;
  height: 70vh;
  margin: 0px auto 120px;
  background-image: url(../../assets/img/colmujer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .container-mujer .banner {
    background-color: rgba(255, 250, 244, 0.4);
    border: 1.5px solid black;
    width: 50vw;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: cambioFondo;
    animation-duration: 6s;
    animation-iteration-count: infinite; }
    .container-mujer .banner h2 {
      font-size: 4em;
      font-weight: 300;
      text-align: center;
      color: #242424;
      text-shadow: 2px 0 rgba(245, 245, 245, 0.536); }

@keyframes cambioFondo {
  60% {
    background-color: rgba(255, 250, 244, 0.8); }
  60% {
    background-color: rgba(248, 237, 227, 0.8); }
  60% {
    background-color: rgba(223, 211, 195, 0.8); }
  60% {
    background-color: rgba(133, 88, 111, 0.4); } }

.catalogo {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  margin: 40px; }
  .catalogo .cont2 {
    width: 350px; }
    .catalogo .cont2 .prod {
      width: 350px;
      height: 500px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      transition: all 300ms;
      margin: 0px 15px;
      border: 1px solid; }
      .catalogo .cont2 .prod:hover {
        transform: scale(1.06); }
    .catalogo .cont2 h4 {
      font-size: 1.2rem;
      margin: 15px 15px 5px; }
    .catalogo .cont2 p {
      font-size: 1.2rem;
      font-weight: bold;
      margin-left: 15px; }
    .catalogo .cont2 .shopping-ico {
      margin-left: 15px; }

.container-hombre {
  display: flex;
  align-items: center;
  height: 70vh;
  margin: 0px auto 120px;
  background-image: url(../../assets/img/colhombre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.container-accesorios {
  display: flex;
  align-items: center;
  height: 70vh;
  margin: 0px auto 120px;
  background-image: url(../../assets/img/accesorios.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.accesorios-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }
  .accesorios-sec .catalogo-accesorios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: start;
    text-align: center;
    max-width: 1620px; }
  .accesorios-sec .categorias {
    grid-column: 1 / -1;
    background-color: #ffffff4e;
    width: 100%;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px; }
  .accesorios-sec .grid-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    gap: 10px; }
    .accesorios-sec .grid-card .catalogo-img {
      width: 80%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      transition: all 300ms;
      margin: 0 auto;
      border: 1px solid;
      justify-self: center; }
      .accesorios-sec .grid-card .catalogo-img:hover {
        transform: scale(1.06); }
    .accesorios-sec .grid-card h4 {
      font-size: 1rem;
      margin: 15px 10px 5px; }
    .accesorios-sec .grid-card p {
      font-size: 1rem;
      font-weight: bold; }

footer {
  background-color: #331D2C;
  color: #eeeeee;
  font-weight: lighter; }
  footer .footer-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 30px; }
    footer .footer-secciones .canales-contacto {
      align-items: center;
      justify-content: center;
      margin: 15px;
      font-weight: bold; }
      footer .footer-secciones .canales-contacto h3 {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 10px; }
      footer .footer-secciones .canales-contacto .telefono {
        display: flex;
        align-items: center;
        margin: 10px; }
        footer .footer-secciones .canales-contacto .telefono img {
          margin-right: 10px; }
      footer .footer-secciones .canales-contacto .correo {
        display: flex;
        align-items: center;
        margin: 10px; }
        footer .footer-secciones .canales-contacto .correo img {
          margin-right: 10px; }
    footer .footer-secciones .redes-sociales {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px; }
      footer .footer-secciones .redes-sociales .redes-ico {
        display: flex;
        align-items: stretch;
        margin-top: 10px; }
        footer .footer-secciones .redes-sociales .redes-ico .footerico {
          width: 40px;
          margin: 10px 10px; }
    footer .footer-secciones .medios-pago {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px; }
      footer .footer-secciones .medios-pago .medios-ico {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: stretch; }
        footer .footer-secciones .medios-pago .medios-ico .pago-ico {
          width: 2.5em;
          margin: 10px;
          border-radius: 3px; }
  footer hr {
    border: none;
    border-top: 1.5px solid #eeeeee;
    margin: 0em 4em; }
  footer .derechos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    text-align: center; }
    footer .derechos h3 {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 5px;
      margin: 15px; }
    footer .derechos p {
      font-weight: 300;
      margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  body {
    overflow: hidden; }
  .navbar .menu-icon {
    display: block;
    z-index: 99999; }
  .navbar .logo {
    flex-grow: 1; }
  .navbar ul.nav-links {
    position: absolute;
    top: 15vh;
    height: 82vh;
    left: 0px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #3F2E3E;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    width: 50%; }
  .navbar ul.nav-links li {
    opacity: 0; }
  #content h1.content-header {
    font-size: 25px; }
  #content p.content-para {
    font-size: 13px; } }

.navbar ul.nav-links.menu-active {
  transform: translateX(0%);
  opacity: 1; }

@keyframes navLinkAnime {
  from {
    opacity: 0;
    transform: translateX(-50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.navbar .menu-icon.span-anime span:first-child {
  transform: rotate(-135deg) translate(-20px, 6px);
  margin-left: -18px; }

.navbar .menu-icon.span-anime span:nth-child(2) {
  opacity: 0; }

.navbar .menu-icon.span-anime span:last-child {
  transform: rotate(135deg) translate(-19px, -5px);
  margin-left: -17px; }

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 82vh;
  margin-top: -18vh;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px; }

#content h1 {
  text-transform: uppercase;
  padding: 25px 25px 10px;
  margin: 25px 25px 0;
  font-size: 52px; }

#content p {
  font-size: 21px; }
