@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #DFD3C3;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

::selection {
    background-color: #FBD46D;
}

/*----------------- HEADER -----------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8EDE3;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    width: 70px;
    margin: 20px;
}

.logo-container h1 {
    font-size: 2.5em;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

button img {
    width: 35px;
    margin: 10px;
}

/*------------------- MENU ------------------*/
#menu {
    z-index: 2;
}

#menu-bar {
    width: 40px;
    height: 40px;
    margin: 30px 20px 20px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #85586F;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
    color: #533846;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 120px 0 20px 20px;
    background: radial-gradient(circle, #85586F, #85586F);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
}

/*------------------ HOME ------------------*/
iframe {
    width: 100%;
    height: 700px;
    border: none;
    margin: 80px 0px;
}

.colecciones a {
    text-decoration: none;
    text-align: center;
    font-size: 7em;
    margin: 40px;
    color: #242424;
    transition: transform 0.3s ease;
}

.colecciones a:hover {
    transform: scale(1.15);
}

.colecciones img {
    width: 45vw;
}

.coleccion-mujer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3c3c3c25;
    padding: 80px;
}

.coleccion-mujer img {
    margin-right: 60px;
}

.coleccion-hombre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}

.coleccion-hombre img {
    margin-left: 60px;
}

.accesorios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3c3c3c25;
    padding: 80px;
}

.accesorios img {
    margin-right: 60px;
}

/*------------- COLECCION MUJER ------------*/
.container-mujer {
    display: flex;
    align-items: center;
    height: 70vh;
    margin: 0px auto 120px;
    background-image: url(../media/img/colmujer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner {
    background-color: rgba(255, 250, 244, 0.4);
    border: 1.5px solid black;
    width: 50vw;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: cambioFondo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes cambioFondo {
    60% {background-color: rgba(255, 250, 244, 0.8);}
    60% {background-color: rgba(248, 237, 227, 0.8);}
    60% {background-color: rgba(223, 211, 195, 0.8);}
    60% {background-color: rgba(133, 88, 111, 0.4);}
}

.banner h2 {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    color: #242424;
    text-shadow: 2px 0 rgba(245, 245, 245, 0.536);
}

.catalogo {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
    margin: 40px;
}

.cont2 {
    width: 350px;
}

.cont2 h4 {
    font-size: 1.2rem;
    margin: 15px 15px 5px;
}

.cont2 p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15px;
}

.shopping-ico {
    margin-left: 15px;
}

.prod {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: all 300ms;
    margin: 0px 15px;
    border: 1px solid;
}

.prod:hover {
    transform: scale(1.06);
}


/*---------------COLECCIÓN HOMBRE---------*/
.container-hombre {
    display: flex;
    align-items: center;
    height: 70vh;
    margin: 0px auto 120px;
    background-image: url(../media/img/colhombre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*-----------------ACCESORIOS---------------*/
.container-accesorios {
    display: flex;
    align-items: center;
    height: 70vh;
    margin: 0px auto 120px;
    background-image: url(../media/img/accesorios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.accesorios-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.catalogo-accesorios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: start;
    text-align: center;
    max-width: 1620px;
}

  .grid-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

  .categorias {
    grid-column: 1 / -1;
    background-color: #ffffff4e;
    width: 100%;
    margin: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.categorias h3 {
    font-size: 3em;
    font-weight: lighter;
    text-align: center;
}

.catalogo-img {
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: all 300ms;
    margin: 0 auto;
    border: 1px solid;
    justify-self: center;
}

.catalogo-img:hover {
    transform: scale(1.06);
}

.grid-card h4 {
    font-size: 1rem;
    margin: 15px 10px 5px;
}

.grid-card p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
}

/*------------- MEDIOS DE PAGO -------------*/
.hero-mpago {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    background-image: url(../../assets/media/img/hero-mpago.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mpago h2 {
    text-align: center;
    margin: 70px;
    font-size: 4rem;
}

.secciones-mpago {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 130px;
}

.mpago-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-chico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    width: 15vw;
    margin: 30px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 20px;
}

.container-chico p {
    font-size: 1.1rem;
    font-weight: bold;
}

.container-chico img {
    max-width: 50%;
    height: auto;
    margin: 5px;
}

.container-grande {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 60vw;
    margin: 30px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 20px;
}

.container-grande img {
    max-width: 20%;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}

/*---------------- CONTACTO ----------------*/
.hero-contacto {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    background-image: url(../../assets/media/img/hero-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contacto h2 {
    font-size: 4rem;
    text-align: center;
    margin: 80px auto;
}

.contacto h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px auto;
}

.container-formulario {
    position: relative;
    background-image: url(../media/img/fondoForm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    width: 70vw;
    max-width: 900px;
    margin: 5% auto;
    padding: 3%;
    box-shadow: 0px 0px 10px #C8C7D9;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding: 2% 5%;
    background-color: #242424c3;
    border-radius: 8px;
}


.titulo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #efefef;
    margin: 5% 8%;
}

.subtitulo {
    color: #efefef;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 4% 5% 8%;
}

input,
textarea {
    width: 100%;
    padding: 3%;
    margin: 2% 0;
    color: #242424;
    border-radius: 8px;
    border: 1px solid #B7B7B7;
    outline: none;
    resize: none;
    box-sizing: border-box;
}

.form-boton {
    background: #A383C9;
    width: 180px;
    height: 60px;
    padding-left: 20px;
    color: #F8F8F8;
    margin: 2% 0;
    border-radius: 8px;
    text-align: center;
}

.form-boton:hover {
    background-color: #85586f;
    box-shadow: 0px 0px 10px #85586f;
}

/*----------------- FOOTER -----------------*/
footer {
    background-color: #85586F;
}

.footer-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 30px;
}

.footer-secciones h3 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.canales-contacto {
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-weight: bold;
}

.telefono img {
    margin-right: 10px;
}

.telefono {
    display: flex;
    align-items: center;
    margin: 10px;
}

.correo {
    display: flex;
    align-items: center;
    margin: 10px;
}

.correo img {
    margin-right: 10px;
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.redes-ico {
    display: flex;
    align-items: stretch;
    margin-top: 10px;
}

.footerico {
    width: 40px;
    margin: 10px 10px;
}

.medios-pago {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.medios-ico {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
}

.pago-ico {
    width: 2.5em;
    margin: 10px;
    border-radius: 3px;
}

hr {
    border: none;
    border-top: 1.5px solid #3c3c3c;
    margin: 0em 4em;
}

.derechos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 30px;
    margin: 10px;
}

/*------------- MEDIA QUERIES --------------*/
/*----------------- MOBILE -----------------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {

/*----------------- HEADER -----------------*/
header {
    flex-direction: column;
}

#menu-bar {
    width: 8vw;
    justify-content: center;
    align-items: baseline;
}

.logo-container {
    text-align: center;
    justify-content: center;
    margin: 20px auto 10px;
}

.logo-container img {
    margin: 10px;
    width: 15%;
}

.logo-container h1 {
    font-size: 1.6em;
}

button {
    margin-bottom: 15px;
    font-size: 0;
    border: none;
    background: none;
    cursor: pointer;
}

button img {
    width: 35px;
}

/*------------------ HOME ------------------*/
.home-hsection {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 100%;
    height: 300px;
}

.colecciones {
    display: flex;
    flex-direction: column;
}

.colecciones a {
    font-size: 3rem;
    margin: 35px;
}

.coleccion-mujer {
    flex-direction: column;
    padding: 0px;
}

.coleccion-mujer img {
    width: 90vw;
    margin: 25px auto 0px;
}

.coleccion-hombre {
    flex-direction: column-reverse;
    padding: 0px;
}

.coleccion-hombre img {
    width: 90vw;
    margin: 25px auto 0px;
}

.accesorios {
    flex-direction: column;
    padding: 0px;
}

.accesorios img {
    width: 90vw;
    margin: 25px auto 0px;
}

/*------------- MEDIOS DE PAGO -------------*/
.hero-mpago {
    width: auto;
    height: 35vh;
}

.mpago h2 {
    margin: 30px 30px;
    font-size: 2rem;
}

.mpago-container {
    flex-direction: column;
}

.container-chico {
    height: 15vh;
    width: 80vw;
    margin: 20px auto;
    border-radius: 15px;
}

.container-grande {
    height: 15vh;
    width: 80vw;
    margin: 20px auto;
    border-radius: 15px;
}

/*---------------- CONTACTO ----------------*/
.hero-contacto {
    width: auto;
    height: 35vh;
}

.contacto h2 {
    text-align: center;
    margin: 30px 30px;
    font-size: 3rem;
}

.contacto h3 {
    text-align: center;
    margin: 30px 30px;
    font-size: 2rem;
}

.container-formulario {
    width: auto;
    margin: 15px;
}

.titulo {
    font-size: 1.6rem;
    text-align: center;
}

.form-boton {
    font-size: 1.1rem;
}

/*----------------- FOOTER -----------------*/
footer {
    display: flex;
    flex-direction: column;
}

.footer-secciones {
    flex-direction: column;
    margin: auto;
}

.footer-secciones h3 {
    text-align: center;
}

.canales-contacto {
    margin: 30px auto;
}

.redes-sociales {
    align-items: center;
    justify-content: center;
    margin: 0px auto 30px;
}

.medios-pago {
    margin: 0px auto 30px;
}

.derechos {
    margin: 30px auto;
}

.derechos p {
    text-align: center;
}

}

/*---------------- TABLETS -----------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

/*----------------- HEADER -----------------*/
.logo-container {
    margin-left: 30px;
}

.logo-container img {
    width: 50px;
}

.logo-container h1 {
    font-size: 2rem;
}

/*------------------ HOME ------------------*/
.home-hsection {
    margin: auto;
}

iframe {
    width: 100%;
    height: 40vh;
}

.colecciones {
    display: flex;
    flex-direction: column;
}

.colecciones a {
    font-size: 3em;
    margin: 35px;
}

.coleccion-mujer {
    flex-direction: column;
    padding: 0px;
}

.coleccion-mujer img {
    width: 90vw;
    margin: 25px auto 0px;
}

.coleccion-hombre {
    flex-direction: column-reverse;
    padding: 0px;
}

.coleccion-hombre img {
    width: 90vw;
    margin: 25px auto 0px;
}

.accesorios {
    flex-direction: column;
    padding: 0px;
}

.accesorios img {
    width: 90vw;
    margin: 25px auto 0px;
}

/*------------- MEDIOS DE PAGO -------------*/
.hero-mpago {
    width: auto;
    height: 45vh;
}

.mpago h2 {
    margin: 40px 20px;
    font-size: 2.5rem;
}

.mpago-container {
    margin: 10px;
}

.container-chico {
    min-width: 25vw;
    margin: auto;
}

.container-grande {
    min-width: 30vw;
    margin: 20px;
}

/*---------------- CONTACTO ----------------*/
.hero-contacto {
    width: auto;
    height: 45vh;
}

.contacto h2 {
    font-size: 3.5rem;
}

.container-formulario {
    width: auto;
    margin: 50px 30px;
}

}

/*---------------- TABLETS -----------------*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {

/*------------------ HOME ------------------*/
iframe {
    width: 100%;
    height: 60vh;
    border: none;
    margin: 60px 0px;
}

.colecciones a {
    font-size: 3em;
    margin: 20px;
}

.colecciones img {
    width: 60%;
}

.coleccion-mujer {
    padding: 60px;
}

.coleccion-hombre {
    padding: 60px;
}

.accesorios {
    padding: 60px;
}
/*------------- MEDIOS DE PAGO -------------*/
.hero-mpago {
    height: 60vh;
}

.mpago-container {
    margin: 15px;
}

.container-chico {
    min-width: 20vw;
    margin: 25px;
}

.container-grande {
    min-width: 30vw;
    margin: 25px;
}

/*---------------- CONTACTO ----------------*/
.hero-contacto {
    height: 60vh;
}

.contacto h2 {
    font-size: 3.5rem;
    margin: 40px;
}

.contacto h3 {
    font-size: 3rem;
    margin: 20px;
}

}
/*------------- PC ESCRITORIO --------------*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
/*------------------ HOME ------------------*/
iframe {
    border: none;
    margin: 40px 0px;
}

.colecciones a {
    font-size: 4em;
    margin: 20px;
}

/*------------- MEDIOS DE PAGO -------------*/
.hero-mpago {
    height: 60vh;
}

/*---------------- CONTACTO ----------------*/
.hero-contacto {
    height: 60vh;
}

}
