@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #DFD3C3;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto; }

::selection {
  background-color: #FBD46D; }

header {
  position: fixed;
  width: 100%;
  height: 15vh;
  background-color: #A78295;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4); }
  header .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 14vh; }
    header .navbar .logo {
      color: #eeeeee;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 5px; }
    header .navbar .nav-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      width: 45%;
      list-style-type: none; }
      header .navbar .nav-links li {
        margin: 0 1.2rem; }
        header .navbar .nav-links li a {
          font-size: 0.9rem;
          color: #eeeeee;
          text-decoration: none;
          text-transform: uppercase; }
  header .menu-icon {
    display: none;
    cursor: pointer;
    flex-grow: 1;
    margin-left: 25px; }
    header .menu-icon span {
      display: block;
      border-radius: 15px;
      width: 25px;
      height: 5px;
      background-color: #eeeeee;
      margin: 5px;
      transition: all 0.4s ease; }

.home-hsection iframe {
  width: 100%;
  height: 700px;
  border: none;
  margin: 80px 0px; }

.colecciones img {
  width: 45vw; }

.colecciones .coleccion-mujer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3c3c3c25;
  padding: 80px; }
  .colecciones .coleccion-mujer img {
    margin-right: 60px; }

.colecciones .coleccion-hombre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px; }
  .colecciones .coleccion-hombre img {
    margin-left: 60px; }

.colecciones .accesorios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3c3c3c25;
  padding: 80px; }
  .colecciones .accesorios img {
    margin-right: 60px; }

.colecciones a {
  text-decoration: none;
  text-align: center;
  font-size: 7em;
  margin: 40px;
  color: #242424;
  transition: transform 0.3s ease; }
  .colecciones a:hover {
    transform: scale(1.15); }

footer {
  background-color: #331D2C;
  color: #eeeeee;
  font-weight: lighter; }
  footer .footer-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 30px; }
    footer .footer-secciones .canales-contacto {
      align-items: center;
      justify-content: center;
      margin: 15px;
      font-weight: bold; }
      footer .footer-secciones .canales-contacto h3 {
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 10px; }
      footer .footer-secciones .canales-contacto .telefono {
        display: flex;
        align-items: center;
        margin: 10px; }
        footer .footer-secciones .canales-contacto .telefono img {
          margin-right: 10px; }
      footer .footer-secciones .canales-contacto .correo {
        display: flex;
        align-items: center;
        margin: 10px; }
        footer .footer-secciones .canales-contacto .correo img {
          margin-right: 10px; }
    footer .footer-secciones .redes-sociales {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px; }
      footer .footer-secciones .redes-sociales .redes-ico {
        display: flex;
        align-items: stretch;
        margin-top: 10px; }
        footer .footer-secciones .redes-sociales .redes-ico .footerico {
          width: 40px;
          margin: 10px 10px; }
    footer .footer-secciones .medios-pago {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15px; }
      footer .footer-secciones .medios-pago .medios-ico {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: stretch; }
        footer .footer-secciones .medios-pago .medios-ico .pago-ico {
          width: 2.5em;
          margin: 10px;
          border-radius: 3px; }
  footer hr {
    border: none;
    border-top: 1.5px solid #eeeeee;
    margin: 0em 4em; }
  footer .derechos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    text-align: center; }
    footer .derechos h3 {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 5px;
      margin: 15px; }
    footer .derechos p {
      font-weight: 300;
      margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  body {
    overflow: hidden; }
  .navbar .menu-icon {
    display: block;
    z-index: 99999; }
  .navbar .logo {
    flex-grow: 1; }
  .navbar ul.nav-links {
    position: absolute;
    top: 15vh;
    height: 82vh;
    left: 0px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #3F2E3E;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    width: 50%; }
  .navbar ul.nav-links li {
    opacity: 0; }
  #content h1.content-header {
    font-size: 25px; }
  #content p.content-para {
    font-size: 13px; } }

.navbar ul.nav-links.menu-active {
  transform: translateX(0%);
  opacity: 1; }

@keyframes navLinkAnime {
  from {
    opacity: 0;
    transform: translateX(-50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

.navbar .menu-icon.span-anime span:first-child {
  transform: rotate(-135deg) translate(-20px, 6px);
  margin-left: -18px; }

.navbar .menu-icon.span-anime span:nth-child(2) {
  opacity: 0; }

.navbar .menu-icon.span-anime span:last-child {
  transform: rotate(135deg) translate(-19px, -5px);
  margin-left: -17px; }

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 82vh;
  margin-top: -18vh;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px; }

#content h1 {
  text-transform: uppercase;
  padding: 25px 25px 10px;
  margin: 25px 25px 0;
  font-size: 52px; }

#content p {
  font-size: 21px; }
