@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #DFD3C3;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto; }

::selection {
  background-color: #FBD46D; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8EDE3; }
  header .logo-container {
    display: flex;
    align-items: center; }
    header .logo-container img {
      width: 70px;
      margin-right: 10px; }
    header .logo-container h1 {
      font-size: 2.5em;
      margin: 0; }
  header button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold; }
    header button img {
      width: 35px;
      margin: 10px; }

.menu-toggle {
  display: block;
  padding: 15px;
  cursor: pointer; }
  .menu-toggle .icon {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px; }

.menu {
  display: none; }
  .menu ul {
    list-style: none;
    padding: 0; }
    .menu ul li {
      margin-bottom: 10px; }
      .menu ul li a {
        text-decoration: none;
        color: #333; }
        .menu ul li a:hover {
          color: #666; }
