.container-hombre {
    display: flex;
    align-items: center;
    height: 70vh;
    margin: 0px auto 120px;
    background-image: url(../../assets/img/colhombre.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}