.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 18vh;
    background-color: $bg-header;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    .logo {
        color: $font-white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 45%;
        list-style-type: none;
        li {
            text-align: unset;
            margin: 0 20px;
            a {
                font-size: 0.9rem;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
  
  
  .navbar .menu-icon {
    display: none;
    cursor: pointer;
    flex-grow: 1;
    margin-left: 25px;
  }
  
  .navbar .menu-icon span {
    display: block;
    border-radius: 15px;
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.4s ease;
  }