.home-hsection {
    video {
        width: 100%;
        height: 700px;
        background-color: #242424;
    }
}
.colecciones {
    img {
        width: 45vw;
    }
    .coleccion-mujer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #3c3c3c25;
        padding: 80px;
        img {
            margin-right: 60px;
        }
    }
    .coleccion-hombre {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 80px;
        img {
            margin-left: 60px;
        }
    }
    .accesorios {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #3c3c3c25;
        padding: 80px;
        img {
            margin-right: 60px;
        }
    }
    a {
        text-decoration: none;
        text-align: center;
        font-size: 5em;
        margin: 40px;
        color: #242424;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.15);
        }
    }
}

.inicio {
    cursor: pointer;
    img {
        width: 30px;
    }
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $bg-color;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 100%;
    &:hover {
        background: $bg-color2;
    }
}

.swal-overlay{
    background-color: lightyellow;
}

.swal-modal{
    border: 3px solid whitesmoke;
}