.menu-container {
    #menu {
        z-index: 2;
        #menu-bar {
            width: 40px;
            height: 40px;
            margin: 30px 20px 20px 20px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .bar {
                height: 5px;
                width: 100%;
                background-color: #85586F;
                display: block;
                border-radius: 5px;
                transition: 0.3s ease;
            }
            #bar1 {
                transform: translateY(-4px);
            }
            #bar3 {
                transform: translateY(4px);
            }
        }
    .nav {
      transition: 0.3s ease;
      display: none;
      position: absolute;
      top: 100%; // Adjust this value to position the menu below the menu bar
      left: 0;   // Adjust this value to position the menu correctly
      background-color: #85586F;
      padding: 10px 0;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          text-align: center;

          a {
            color: white;
            font-size: 20px;
            text-decoration: none;
            display: block;
            padding: 10px;

            &:hover {
              font-weight: bold;
              color: #533846;
            }
          }
        }
      }
    }
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 110px 0 0 20px;
    background: radial-gradient(circle, #85586F, #85586F);
    border-radius: 50%;
    transition: 0.3s ease;
    position: absolute;
  }

  .change {
    display: block;

    .bar {
      background-color: white;
    }

    #bar1 {
      transform: translateY(0) rotateZ(-45deg);
    }

    #bar2 {
      opacity: 0;
    }

    #bar3 {
      transform: translateY(0) rotateZ(45deg);
    }

    // Show the navigation when the menu is active
    ~ .nav {
      display: block;
    }
  }

  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
  }
}