/*------------- MEDIA QUERIES --------------*/
/*----------------- MOBILE -----------------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {

  /*------------------ HOME ------------------*/
  .home-hsection {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    iframe {
      width: 100%;
      height: 300px;
    }
  }
  .colecciones {
    display: flex;
    flex-direction: column;
    .coleccion-mujer {
      flex-direction: column;
      padding: 0px;
      img {
        width: 90vw;
        margin: 25px auto 0px;
      }
    }
    .coleccion-hombre {
      flex-direction: column-reverse;
      padding: 0px;
      img {
        width: 90vw;
        margin: 25px auto 0px;
      }
    }
    .accesorios {
      flex-direction: column;
      padding: 0px;
      img {
        width: 90vw;
        margin: 25px auto 0px;
      }
    }
    a {
      font-size: 3rem;
      margin: 35px;
    }
  }

  /*------------- MEDIOS DE PAGO -------------*/
  .mpago {
    .hero-mpago {
      width: auto;
      height: 35vh;
    }

    h2 {
      margin: 30px 30px;
      font-size: 2rem;
    }

    .mpago-container {
      flex-direction: column;
    }

    .container-chico {
      height: 15vh;
      width: 80vw;
      margin: 20px auto;
      border-radius: 15px;
    }

    .container-grande {
      height: 15vh;
      width: 80vw;
      margin: 20px auto;
      border-radius: 15px;
    }
  }
/*---------------- CONTACTO ----------------*/
.contacto {
  .hero-contacto {
    width: auto;
    height: 35vh;
  }
  h2 {
    text-align: center;
    margin: 30px 30px;
    font-size: 3rem;
  }
  h3 {
    text-align: center;
    margin: 30px 30px;
    font-size: 2rem;
  }
}
  .container-formulario {
    width: auto;
    margin: 15px;
    .titulo {
      font-size: 1.6rem;
      text-align: center;
    }
    .form-boton {
      font-size: 1.1rem;
    }
  }





.modal-contenido {
  max-width: 80%;
  font-size: 1em;
  font-weight: 600;
}


}





@media screen and (max-width: 768px) {
  .navbar .menu-icon {
    display: block;
    z-index: 99999;
  }

  .navbar .logo {
    flex-grow: 1;
  }

  .navbar ul.nav-links {
    position: absolute;
    top: 15vh;
    height: 82vh;
    left: 0px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: $bg-details2;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    width: 50%;
  }

  .navbar ul.nav-links li {
    opacity: 0;
  }

  #content h1.content-header {
    font-size: 25px;
  }

  #content p.content-para {
    font-size: 13px;
  }
}
