/*------------- MEDIA QUERIES --------------*/
/*----------------- MOBILE -----------------*/
@media only screen and (min-width: 320px) and (max-width: 479px) {

  /*------------------ HOME ------------------*/
  .home-hsection {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    video {
      width: 100%;
      height: 300px;
    }
  }
  .colecciones {
    display: flex;
    flex-direction: column;
    .coleccion-mujer {
      flex-direction: column;
      padding: 0px;
      img {
        width: 90vw;
        margin: 25px auto 0px;
      }
    }
    .coleccion-hombre {
      flex-direction: column-reverse;
      padding: 0px;
      img {
        width: 90vw;
        margin: 25px auto 0px;
      }
    }
    .accesorios {
      flex-direction: column;
      padding: 0px;
      img {
        width: 90vw;
        margin: 25px auto 0px;
      }
    }
    a {
      font-size: 3rem;
      margin: 35px;
    }
  }

  /*------------- MEDIOS DE PAGO -------------*/
  .mpago {
    .hero-mpago {
      width: auto;
      height: 35vh;
    }

    h2 {
      margin: 30px 30px;
      font-size: 2rem;
    }

    .mpago-container {
      flex-direction: column;
    }

    .container-chico {
      height: 15vh;
      width: 80vw;
      margin: 20px auto;
      border-radius: 15px;
    }

    .container-grande {
      height: 15vh;
      width: 80vw;
      margin: 20px auto;
      border-radius: 15px;
    }
  }
/*---------------- CONTACTO ----------------*/
.contacto {
  .hero-contacto {
    width: auto;
    height: 35vh;
  }
  h2 {
    text-align: center;
    margin: 30px 30px;
    font-size: 3rem;
  }
  h3 {
    text-align: center;
    margin: 30px 30px;
    font-size: 2rem;
  }
}
  .container-formulario {
    width: auto;
    margin: 15px;
    .titulo {
      font-size: 1.6rem;
      text-align: center;
    }
    .form-boton {
      font-size: 1.1rem;
    }
  }





.modal-contenido {
  max-width: 80%;
  font-size: 1em;
  font-weight: 600;
}


}





@media screen and (max-width: 768px) {


  .navbar .menu-icon {
    display: block;
    z-index: 99999;
  }

  .navbar .logo {
    flex-grow: 1;
  }

  .navbar ul.nav-links {
    position: absolute;
    top: 15vh; 
    height: 82vh;
    left: 0px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: $bg-details2;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    width: 50%;
  }

  .navbar ul.nav-links li {
    opacity: 0;
  }

  #content h1.content-header {
    font-size: 25px;
  }

  #content p.content-para {
    font-size: 13px;
  }
}

.navbar ul.nav-links.menu-active {
  transform: translateX(0%);
  opacity: 1;
}

@keyframes navLinkAnime {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.navbar .menu-icon.span-anime span:first-child {
  transform: rotate(-135deg) translate(-20px, 6px);
  margin-left: -18px;
}

.navbar .menu-icon.span-anime span:nth-child(2) {
  opacity: 0;
}

.navbar .menu-icon.span-anime span:last-child {
  transform: rotate(135deg) translate(-19px, -5px);
  margin-left: -17px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 82vh; 
  margin-top: -18vh; 
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
  h1 {
    text-transform: uppercase;
    padding: 25px 25px 10px;
    margin: 25px 25px 0;
    font-size: 52px;
    p {
      font-size: 21px;
    }
  }
}